{% extends 'index.html' %}
{% block body %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{message.decode('utf-8')}}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <ul>
        {% for contact in contacts%}
            <li>
                {{ contact.name }} <a href="/contacts/{{contact.key.id()}}">Ver Más</a>
            </li>
        {% endfor %}
    </ul>
    <a href="/add">Agregar Contacto</a>
{% endblock %}