{% extends 'index.html' %}



{% block body %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{message.decode('utf-8')}}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <form action="/update" method="post">
        <fieldset>
            <legend>Actualizar contacto</legend>
    
            <label for="name">Nombre</label>
            <input id="name" name="name" type="text" value={{contact.name}}>
        
            <label for="phone">Teléfono</label>
            <input id="phone" name="phone" type="text" value={{contact.phone}}>
        
            <label for="email">Email</label>
            <input id="email" name="email" type="email" value={{contact.email}}>

            <input type="hidden" name="uid" value="{{ contact.key.id() }}">
        
            <button type="submit" name="button">Actualizar</button>
        </fieldset>
    </form>
  
  <p>
    <a href="/">Regresar</a>
  </p>
{% endblock %}
